:host {
    .modal-title {
        margin: 0;
        font-size: 1.5rem;
    }

    form {
        .mat-mdc-form-field {
            width: 100%;
        }
    }

    .mdc-fab {
        width: 46px;
        height: 46px;
    }

    .account_circle_icon {
        display: flex;
        transform: scale(1.7) !important;
    }

    ::ng-deep .mdc-button__label {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mat-card-image-custom {
        width: 100% !important;
        border-radius: 50% !important;
    }

    .hidden {
        display: none
    }

}