<section [class]="appService.theme">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ user?.name??'' |capitalizeFirst }}</h4>
        <button mat-fab color="primary" (click)="fileInput.click()">
            <ng-container *ngIf="url; else usericon">
                <img class="mat-card-image-custom" mat-card-image alt="profile-img" src={{url}} />
            </ng-container>
            <ng-template #usericon>
                <mat-icon class="account_circle_icon">account_circle</mat-icon>
            </ng-template>
            <input class="hidden" placeholder="selectFile" type="file" (change)="onFileChanged($event)" #fileInput>
        </button>

    </div>
    <div class="modal-body">
        <app-alert [alert]="alert()"></app-alert>
        <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit($event)">
            <div class="row">
                <div class="col">
                    <app-input formControlName="name" [label]="'names' | translate: {value: '*'} | capitalizeFirst"
                        [placeholder]="'usernames' | translate: {value: ':'} | titlecase"></app-input>
                </div>
                <div class="col">
                    <app-input formControlName="lastname" [label]="'lastnames' | translate: {value: ''} | capitalizeFirst"
                        [placeholder]="'userlastnames' | translate: {value: ':'} | capitalizeFirst"></app-input>
                </div>
                <div class="col">
                    <app-input formControlName="email" [label]="'Email*'"
                        [placeholder]="'email' | translate: {value: '*'} | capitalizeFirst"></app-input>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <app-input formControlName="birthdate" [type]="'date'"
                        [label]="'birthdate' | translate | capitalizeFirst"
                        [placeholder]="'birthdate' | translate | capitalizeFirst"></app-input>
                </div>
                <div class="col">
                    <app-input formControlName="phone" [type]="'text'" [label]="'phone' | translate | capitalizeFirst"
                        [placeholder]="'phonenumber' | translate | capitalizeFirst"></app-input>
                </div>
                <div class="col">
                    <app-select formControlName="nacionality"
                        [placeholder]="'nacionality' | translate | capitalizeFirst" [items]="nationalities"
                        [bindLabel]="'name'" (inputEvent)="inputEventNationality($event)"></app-select>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <app-input formControlName="address" [icon]="'map'"
                        [label]="'address' | translate | capitalizeFirst"
                        [placeholder]="'residenceaddress' | translate | capitalizeFirst"
                        (onIconClick)="showAddressMap()"></app-input>
                </div>
                <div class="col">
                    <app-select formControlName="theme" [placeholder]="'theme' | translate | capitalizeFirst"
                        [items]="themes" [searchable]="false" [bindLabel]="'name'"></app-select>
                </div>
            </div>

        </form>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ngbAutofocus
            (click)="activeModal.dismiss('Login click')">{{'cancel' | translate | titlecase}}</button>
        <button type="submit" class="btn btn-light" ngbAutofocus
            [disabled]="!userForm.valid || buttonAccept() || oldChanges()"
            [ngClass]="{'mat-button-disabled':!userForm.valid || buttonAccept() || oldChanges()}"
            (click)="onSubmit($event)">{{'update' | translate | titlecase}}</button>
    </div>

</section>