<ng-container>
    <mat-form-field>
        <mat-label *ngIf="label">{{label}}</mat-label>
        <input matInput [formControl]="inputRef" [type]="type" placeholder="{{placeholder}}" (blur)="onInputBlur()">
        <mat-icon *ngIf="icon" matSuffix (click)="onIconClickEvent($event)">{{icon}}</mat-icon>
        <mat-hint *ngIf="hint">{{hint}}</mat-hint>
        <mat-error *ngIf="ngControl.control?.touched&&ngControl.errors?.['required']">
            El campo es <strong>requerido</strong>
        </mat-error>
        <mat-error *ngIf="ngControl.control?.touched&&ngControl.errors?.['email']">
            El campo es un <strong>email</strong>
        </mat-error>
    </mat-form-field>
</ng-container>