<div class="container" [class]="'container-'+appService.theme">
    <div *ngIf="alert()" class="row">
        <app-alert [alert]="{type: 'success', message:'message', title: 'title'}"></app-alert>
    </div>

    <div class="row">
        <!-- project_customer -->
        <div *ngFor="let project of projects_customer()" class="col-xs-3 col-md-3 mat-card-container">
            <app-project-card [project]="project" [options]="options_card()" (updataProject)="updataProject($event)"></app-project-card>
        </div>
    </div>
</div>