<div class="container">
    <div *ngIf="alert()" class="row">
        <app-alert [alert]="{type: 'success', message:'message', title: 'title'}"></app-alert>
    </div>

    <div class="row">
        <!-- project_customer -->
        <div *ngFor="let item of projects_customer()" class="col-xs-3 col-md-3">
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>{{item.name??''}}</mat-card-title>
                    <mat-card-subtitle>{{item.address??''}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div> Etiquetas de etado: activo, complete, important in proces, paid, etc</div>
                    <mat-divider></mat-divider>
                    <div> Etiquetas de labor: piso, techo, pintura, etc</div>
                </mat-card-content>
                <mat-card-actions>

                    <button mat-mini-fab color="primary" matTooltip="Tareas"
                        aria-label="assignment icon">
                        <mat-icon>assignment</mat-icon>
                    </button>

                    <button mat-mini-fab color="primary" matTooltip="Documentos"
                        aria-label="description icon">
                        <mat-icon>description</mat-icon>
                    </button>

                    <button mat-mini-fab color="primary" matTooltip="Clientes"
                        aria-label="assignment_ind icon">
                        <mat-icon>assignment_ind</mat-icon>
                    </button>

                    <button mat-mini-fab color="primary" matTooltip="Colaboradores"
                        aria-label="build icon">
                        <mat-icon>build</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>