:host {

    .hidden {
        display: none
    }

    .mat-mdc-card-title {
        font-weight: 300;
    }

    .mat-card-subtitle {
        font-weight: 400;
    }

    .mat-mdc-card-content {
        padding: 0 6px;
    }

    .mat-card-image-custom {
        width: 100% !important;
        border-radius: 50% !important;
    }

    .mat-mdc-card-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .commerce_icon {
        display: flex;
        transform: scale(1.9);
    }

    .commerce_icon:hover {
        filter: brightness(1.2);
    }

    .mat-mdc-card-actions {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }    

    .mff {
        width: 100%
    }

    .small-chip {
        height: 18px;
    }

    ::ng-deep .small-chip .mat-mdc-chip-action {
        padding-left: 4px;
        padding-right: 4px;
    }

    ::ng-deep .small-chip .mat-mdc-chip-action-label {
        font-size: 12px;
    }

    .mat-mdc-card {
        background-color: whitesmoke;
        border: 1px solid var(--mat-datepicker-calendar-date-selected-state-background-color)
    }

    ::ng-deep .mat-mdc-card-subtitle:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }

    // CHIPS
    .mat-mdc-chip {
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
    }

    .warning {
        color: #664d03;
        background-color: #fff3cd !important;
        border-color: #ffe69c !important
    }

    .tag-warning {
        color: #664d03;
        background-color: #fff3cd !important;
        border-color: #ffe69c !important
    }

    .tag-success {
        color: #0a3622;
        background-color: #d1e7dd;
        border-color: #a3cfbb;
    }

    .mat-fab-card {
        border-style: solid;
        border-width: 2px;
        border-color: whitesmoke;
    }

    // mat-vertical-stepper
    mat-vertical-stepper {
        background: none;
    }

    ::ng-deep mat-step-header {
        padding: 15px 0px 15px 0px;
    }

    ::ng-deep .mat-vertical-content-container {
        margin-left: 12px;
    }

    ::ng-deep .mat-vertical-content {
        padding: 0 2px 14px 6px;

    }

    ::ng-deep mat-step-header:hover {
        background-color: transparent !important;
    }

    ::ng-deep .mat-step-header.cdk-keyboard-focused,
    ::ng-deep .mat-step-header.cdk-program-focused {
        background-color: transparent !important;
    }

    // Acordeon
    mat-expansion-panel {
        background: none;
    }

    ::ng-deep mat-panel-description,
    ::ng-deep mat-panel-title {
        justify-content: space-between;
        align-items: center;
    }

    ::ng-deep .mat-content {
        overflow: visible;
    }

    // carousel
    ::ng-deep .mat-mdc-card-image {
        max-width: 100%;
    }

    @media only screen and (max-width: 720px) {
        ngb-carousel img {
            // height: 150px;
        }
    }

    @media only screen and (min-width: 720px) {

        ngb-carousel img {
            // height: 150px;
        }

        ::ng-deep .mat-mdc-card-header-text {
            overflow: hidden;
        }

        ::ng-deep .mat-mdc-card-subtitle {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: var(--mdc-checkbox-selected-icon-color);
        }
    }
}