:host {


  .mat-toolbar {
    height: 54px;
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  .custome-mat-icon {
    transform: scale(1.2);
  }

  span {
    font-weight: 300;
  }

}
::ng-deep .indigo-icon {
  color: #3f51b5 !important;
}

::ng-deep .light-blue-icon {
  color: #4fc3f7 !important;
}

::ng-deep .blue-grey-icon {
  color: #cfd8dc !important;
}
