<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu_burguer" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu_burguer="matMenu" class="{{appService.theme}}  mat-menu-custome">
        <button mat-menu-item (click)="navigateTo('project')">
            <mat-icon>work</mat-icon>
            <span>projects</span>
        </button>

    </mat-menu>

    <span>ProBox</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon custome-mat-icon" aria-label="Example icon-butto"
        matTooltip="{{'language' | translate | capitalizeFirst}}" [matMenuTriggerFor]="menuLanguage">
        <mat-icon>translate</mat-icon>
    </button>

    <button mat-icon-button class="example-icon custome-mat-icon" aria-label="Example icon-butto"
        matTooltip="{{'themes' | translate | capitalizeFirst}}" [matMenuTriggerFor]="menu">
        <mat-icon>circle</mat-icon>
    </button>

    <button mat-icon-button class="example-icon custome-mat-icon" aria-label="Example icon-button"
        matTooltip="{{'notifications' | translate | capitalizeFirst}}">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="mat-button-acount custome-mat-icon"
        (click)="!authService.checkLogin() ? openModalLogin(): null" aria-label="Example icon-button with account icon"
        matTooltip="{{'account' | translate | capitalizeFirst}}"
        [matMenuTriggerFor]="authService.checkLogin() ? menuProfile: null">
        <mat-icon>account_circle</mat-icon>
    </button>

    <mat-menu class="buttons-menu-themes" #menu="matMenu">
        <button *ngIf="appService.theme !== 'blue-grey-theme'" mat-menu-item (click)="changeTheme('blue-grey-theme')">
            <mat-icon class="blue-grey-icon">circle</mat-icon>
        </button>
        <button *ngIf="appService.theme !== 'indigo-theme'" mat-menu-item (click)="changeTheme('indigo-theme')">
            <mat-icon class="indigo-icon">circle</mat-icon>
        </button>
        <button *ngIf="appService.theme !== 'light-blue-theme'" mat-menu-item (click)="changeTheme('light-blue-theme')">
            <mat-icon class="light-blue-icon">circle</mat-icon>
        </button>
    </mat-menu>

    <mat-menu class="buttons-menu-language" #menuLanguage="matMenu">
        <button *ngIf="appService.translateDefault !== 'en'" mat-menu-item (click)="changeLanguage('en')">
            {{ 'english' | translate | titlecase }}
        </button>
        <button *ngIf="appService.translateDefault !== 'es'" mat-menu-item (click)="changeLanguage('es')">
            {{ 'spanisg' | translate | titlecase }}
        </button>
    </mat-menu>

    <mat-menu class="buttons-menu-profile" #menuProfile="matMenu">
        <button mat-menu-item (click)="openModalProfile()">
            <mat-icon>settings</mat-icon>
            {{ 'profile' | translate | titlecase }}
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="callLogout()">
            <mat-icon>close</mat-icon>
            {{ 'exit' | translate | titlecase }}
        </button>
    </mat-menu>
</mat-toolbar>